---
# handlers file for ansible-role-hashicorp-consul
- name: restart-consul
  systemd:
    name: consul
    state: restarted
    daemon_reload: true

- name: remove-consul
  include_tasks: remove-consul.yml

- name: restart-systemd-resolved
  service:
    name: systemd-resolved
    state: restarted

- name: restart-dnsmasq
  service:
    name: "{{ dnsmasq_service }}"
    state: restarted
