# Systemd unit file for Hashicorp Consul

[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_config_file }}

[Service]
Type=simple
WorkingDirectory={{ consul_run_dir }}
User={{ consul_user }}
Group={{ consul_group }}
PermissionsStartOnly=true
RuntimeDirectory={{ consul_systemd_runtime_dir }}
{% if ansible_os_family == "Debian" or ansible_os_family == "Ubuntu" %}
EnvironmentFile=-{{ consul_default_config }}
{% endif %}
{% if ansible_distribution == "CentOS" or ansible_distribution == "Red Hat Enterprise Linux" %}
EnvironmentFile=-{{ consul_sysconfig }}
{% endif %}
ExecStart={{ consul_systemd_exec_start }}
ExecReload={{ consul_exec_reload }}
KillMode=process
Restart=on-failure
KillSignal=SIGTERM
LimitNOFILE=65536
RestartSec=42s

[Install]
WantedBy=multi-user.target
